default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  adapter: postgresql
  encoding: unicode
  database: bd_os
  username: postgres
  password: "12345"
  host: localhost



test:
  <<: *default
  adapter: postgresql
  encoding: unicode
  database: ddr7cg27n0ibp5
  username: sdfdyjtuosegou
  password: "adc035a0982ecdb03c13b0cf73f7b50d5b086f4902efec1621f98ba7dcba3e74"
  host: ec2-174-129-33-186.compute-1.amazonaws.com

production:
  <<: *default
  adapter: postgresql
  encoding: unicode
  database: ddr7cg27n0ibp5
  username: sdfdyjtuosegou
  password: "adc035a0982ecdb03c13b0cf73f7b50d5b086f4902efec1621f98ba7dcba3e74"
  host: ec2-174-129-33-186.compute-1.amazonaws.com
